{% extends "base.html" %}

{% block content %}

{% if changed %}
<h1>Password changed</h1>

<p>Successfully changed your password. New password is</p>
<p><b>{{ password }}</b></p>
<p>Never share this password with anyone else. Even company IT never asks this through email or phone.</p>
<p>You can continue to <a href="{% url indexview %}">front page</a>.</p>

{% else %}

<h1>Generate new password</h1>
<p>Do you want to change your password?</p>
<p><form method="post" action="?">{% csrf_token %} <input type="submit" class="btn btn-primary" value="Change it!"></p>
<p>After changing the password you have to reconfigure your backup software.</p>
<p>You can also go <a href="{% url indexview %}">back to front page</a>.</p>
{% endif %}
{% endblock %}
